@import url("https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.main_row {
  font-family: "Sulphur Point", sans-serif;
  height: 100%;
  overflow: hidden;
  text-align: center;
  padding-left: 4%;
  padding-top: 2%;
}
.second_card_col {
  padding-right: 0%;
}

.card_main {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: white;
  text-align: left;
  margin-left: 0%;
  width: 90%;
  height: 90%;
}

.card_main:nth-child(2) {
  color: blue;
}

.card_main:hover {
  transition: all 0.2s ease-out;
  top: -4px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 35px rgb(255, 255, 255);
}

.blockquote-footer {
  color: white;
}
.description {
  font-size: 85%;
}
.icon {
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: rgb(255, 196, 102);
}

@media only screen and (max-width: 1200px) {
  .main_row {
    padding-top: 4em;
  }
}

@media (max-height: 925px) and (min-width: 1200px) {
  .description {
    font-size: 70%;
  }
}
